#container-grid {
  max-width: 1300px;
  margin: 0 auto;
}

.logo img {
  justify-self: start;
  width: 50%;
  max-width: 180px;
}

.logo i {
  grid-area: menu-bars;
  justify-self: end;
  color: white;
  font-size: 2rem;
}

.item {
  pad: 1rem 0;
}

nav a {
  color: var(--blanco);
  text-decoration: none;
  text-align: center;
}
nav a:hover {
  background-color: #0b3860;
  width: 100%;
}
.navbar-button {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.5rem;
  font-family: "Poppins", serif;
  color: var(--blanco);
}

nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}

#banner {
  background-image: url("/recursos/index/slide1.jpg");
  background-size: cover;
  background-position: 50% 50%;
  min-height: 400px;
  margin-top: 60px;
}

/*Resolución tabletas*/
@media screen and (min-width: 768px) {
}

nav {
  background-color: var(--negro2);
  grid-template-columns: 200px auto;
  grid-template-areas: "logo menu";
}

.logo img {
  width: 100%;
}

.logo i {
  display: none;
}

.menu {
  background-color: var(--negro2);
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-self: end;
}

.menu-hr {
  display: none;
}

.item {
  margin: 0 1rem;
  align-self: center;
}
nav a {
  text-align: left;
}
nav a:hover {
  background-color: transparent;
  color: var(--azuloscuro);
}
.navbar-button {
  background-color: var(--azuloscuro);
  align-self: center;
}

.navbar-button {
  border: none;
}
